* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: auto;
}

.container {
    width: 100%;
    height: 100%;
    padding: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

input, button {
    width: 100%;
    margin: 6px 0;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
}

#btn {
    background-color: blue;
    color: white;
    padding: none;
    border: none;
}
