* {
    box-sizing: border-box;
    margin: 0;
    padding: none;
    border: none;
    font-family: Arial, sans-serif;
}

body {
    position: relative;
    margin: 0 auto;
    background-color: #fff;
}

.container {
    width: 100vw;
    height: auto;
    padding: 20px;

    display: grid;
    place-items: center;
}

header {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 20px 50px;
}

header h1 {
    font-size: 15px;
}

header {
    width: 100%;
    height: auto;
    padding: 20px;
}

#sun {
    display: none;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 10px;

    position: relative;
}

#sun::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    width: 30px;
    height: 15px;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#moon {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 10px;

    position: relative;
}

#moon::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    width: 30px;
    height: 15px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


#cal {
    padding: 0 20px;
}

input, button {
    width: 100%;
    margin: 6px 0;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
}

#btn {
    background-color: black;
    color: white;
    padding: none;
    border: none;

    width: 80%;
    margin: 20px 0;
}

#result {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 10px;

    display: none;
    font-size:10px;

}
