* {
    box-sizing: border-box;
    margin: 0;
    padding: none;
    border: none;
    font-family: Arial, sans-serif;
}

body {
    position: relative;
    margin: 0 auto;
    background-color: #fff;

    height: 100vh;
}

.container {
    width: 100vw;
    height: auto;
    padding: 20px;

    display: grid;
    place-items: center;
}

header {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 20px 20px 50px;
}

header h1 {
    font-size: 15px;
}


/* =========================
   THEME ICONS
========================= */

.mode {
    border: 0;
    padding: 0;
}

#sun {
    display: none;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 10px;

    position: relative;
    border: 0;
}

#sun::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    width: 30px;
    height: 15px;
    background-color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#moon {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 10px;

    position: relative;
    border: 0;
}

#moon::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;

    width: 30px;
    height: 15px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


/* =========================
   FORM
========================= */


#cal {
    padding: 0 20px;
}

input, button {
    width: 100%;
    margin: 6px 0;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
}

input.dark {
    background-color: black;
    border:1px solid white;
    color: white;
}

#btn {
    background-color: black;
    color: white;
    padding: none;
    border: none;

    width: 80%;
    margin: 20px 0;
}

#result {
    width: 100%;
    height: auto;
    padding: 10px;
    border-radius: 10px;

    display: none;
    font-size:10px;

}





/* =========================
   JOURNAL POPUP
========================= */

#openJournal {
    width: 80px;
    height: auto;

    border: none;
    position: absolute;
    bottom: 50px;
    right: 30px;

    /* background-color: black;
    color: white; */
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    color: black;
    padding: 20px;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 999;
    transition: 0.3s ease;
}

.hidden {
    display: none;
}

.popup-header {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-bottom: 20px;
    
}


.trade-item {
    padding: 15px;
    margin: 10px 0;
    background-color: black;
    border-radius: 10px;
    color: white;
}

.trade-item button {
    margin-top: 5px;
    width: 30%;
    height: auto;
}

.win {
    border-left: 5px solid rgb(107, 247, 107);
}

.loss {
    border-left: 5px solid red;
}

.stats {
    margin-top: 20px;
    padding: 15px;

    width: 500px;
    height: 300px;
    
    border-radius: 10px;
    color: black;

    font-size: 15px;
}

#clearTrades {
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;

    width: 150px;
    margin-bottom: 20px;
}

#backBtn {
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 8px;
    cursor: pointer;

    width: 80px;
    margin-top: 20px;

}